.todo-input {
	margin-right: 5px;
}

.list-item {
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 5px;
	list-style-type: none;
	padding: 5px;
	margin: 2px;
}

.todo-list {
	border-radius: 5px;
	padding: 10px;
}

.link-item {
	cursor: pointer;
	padding: 2px 5px;
	margin: 3px;
	border: 1px solid gray;
	border-radius: 5px;
}

.active {
	color: blue;
}
